<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Add wallet'; closeToHome = true; noColor = true">
</div>



<div class="content">
  <div class="row preferences" style="margin-top: 60px;">
    <div class="large-8 large-offset-2 columns">

      <ul class="no-bullet size-12">
        <li>
          <a title="Create new wallet" href ui-sref="create" class="wallet-tab">
            <i class="fi-plus circle plus-fixed size-36"></i>
            <span translate>Create new wallet</span>
            <i class="icon-arrow-right3 size-24"></i>
          </a>
        </li>
        <li>
          <a title="Join shared wallet"  href ui-sref="join" class="wallet-tab">
            <i class="icon-people circle size-36"></i>
            <span translate>Join shared wallet</span>
            <i class="icon-arrow-right3 size-24"></i> 
          </a>
        </li>
        <li>
          <a title="Import wallet" href ui-sref="import" class="wallet-tab">
            <i class="icon-download circle size-36"></i>
            <span translate>Import wallet </span>
            <i class="icon-arrow-right3 size-24"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
